main#about {
  margin-bottom: -6em;
}

.about-banner {
  max-width: 1450px;
  margin: 0 auto;
}

.about-banner-image {
  height: 100vh;
  align-items: center;
  min-width: 45%;
  position: sticky;
  top: 0;

  @media screen and (max-width: 768px) {
    width: 90vw;
    height: fit-content;
    margin-bottom: 5em;
    min-width: unset;
  }

  img {
    max-width: 80%;
    max-height: 70%;
    object-fit: contain;
    // position: sticky;
    // top: 200px;
  }
}

.certification-list {
  li {
    list-style-type: initial;
    font-size: 2em;
    font-family: $gt;
    line-height: 1.2em;
    padding-bottom: 16px;
    margin-inline-start: 1em;
  }
}
section.certifications {
  z-index: 1;
  padding-bottom: 8em !important;
  // margin-bottom: -6em !important;

  &::before {
    content: "";
    background-color: $beige;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 40% 20% 0% 0%; /* Asymmetrical organic feel */
    transform: rotate(3deg) scaleX(1.5) scaleY(1.1);/* A slight rotation for an organic appearance */
    transition: all ease 1s;
  }
}
