@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@import '@styles/variables.scss';
@import '@styles/beziers.scss';
@import '@styles/homepage.scss';
@import '@styles/work-with-me.scss';
@import '@styles/about.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: $red;
  background: $off-white;
  font-family: $body;
}
p {
  font-size: 1.4em;
  line-height: 1.3em;
}
footer {
  color: $off-white;
  z-index: 20;
  padding-top: 9em !important;
  overflow: hidden;
  
  a {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .copyright {
   font-size: 0.75em;
  }

  &::before {
    content: "";
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 20% 30% 0% 0%; /* Asymmetrical organic feel */
    transform: rotate(-3deg) scale(1.5, 1.1) translateY(62px);/* A slight rotation for an organic appearance */
    transition: all ease 1s;

    @media screen and (max-width: 768px) {
      border-radius: 25% 10% 0% 0%; /* Asymmetrical organic feel */
    }
  }
}
footer {
  padding-left: 2em;
  padding-right: 2em;
}
section {
  margin: 0 auto;
  width: 100%;
}
section > div {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  line-height: 1em;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
.nav-content {
  padding-left: 2em;
  padding-right: 2em;
}

nav.desktop {
  // background: $red;
  height: 90px;
  -webkit-clip-path: url(#navCurve);
  clip-path: url(#navCurve);

  a {
    font-size: $body;
    text-transform: uppercase;
  }
}

nav.mobile {
  position: fixed;
  top: 0;
  left: 0;
}

button.menu, button.close {
  position: absolute;
  top: 1em;
  right: 1em;

}

.menu {
  border: solid 1px $red;
  border-radius: 30%;
  padding: 1em;
  background-color: $off-white;
}

.close {
  border: solid 1px $off-white;
  border-radius: 30%;
  padding: 1em;
}

.menu-panel {
  background-color: $red;
  color: $off-white;
  position: fixed;
  // top: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  padding: 2em;
  transition: top ease 300ms;

  ul {
    margin-top: 3em;
  }
  li {
    font-size: 1.7em;
    padding-bottom: 1em;
  }
}

.border {
  border: solid 1px $red;
}

h1 {
  font-size: 3em;
  line-height: 1.1em;
  font-family: $headings;

  @media screen and (max-width: 768px) {
    font-size: 2.25em;
    line-height: 1.2em;
  }
}

h2 {
  font-size: 1.7em;
  letter-spacing: 1px;
  font-family: $headings;
  line-height: 1em;
  // text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 1em;
  }
}

p {
  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }
}

hr {
  border-top: solid 1px $red;
}

.section-padding {
  padding: 6em 2em;

  @media screen and (max-width: 768px) {
    // padding: 6em 0;
  }
}

.btn {
  background-color: $red;
  color: $off-white;
  border-radius: 20px;
  padding: 0.75em 1.5em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.inner-link {
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: underline;
}

.gt {
  font-family: $headings;
}

.question {
  font-family: $headings;
  font-size: 2em;
  max-width: 85%;
  line-height: 1.2em;
}
.icon-plus {
  font-size: 1.4em;
  font-weight: 100;
  font-family: sans-serif;
}
.faq-entry {
  cursor: pointer;
}
.contact-form {
  input[type=text], textarea {
    background: $red;
    border-bottom: solid 1px $off-white;
    color: $off-white;
    // background: $off-white;
  }
  input::placeholder, textarea::placeholder {
    color: $off-white;
    opacity: 0.7;
  }
  input[type=submit] {
    background-color: $off-white;
    color: $red
  }
}