@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@import '@styles/variables.module.scss';
@import '@styles/beziers.scss';
@import '@styles/homepage.scss';
@import '@styles/work-with-me.scss';
@import '@styles/about.scss';
@import '@styles/fonts.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: $red;
  background: $off-white;
  font-family: $body;
}

footer {
  color: $off-white;
  z-index: 20;
  padding-top: 9em !important;
  overflow: hidden;
  
  a {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .copyright {
   font-size: 0.8em;
   letter-spacing: .5px;
   color: $beige;

   @media screen and (max-width: 768px) {
      padding-bottom: 6em;
      text-align: center;
    }
  }

  .flower {
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
  }

  &::before {
    content: "";
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 20% 30% 0% 0%; /* Asymmetrical organic feel */
    transform: rotate(-3deg) scale(1.5, 1.1) translateY(62px);/* A slight rotation for an organic appearance */
    transition: all ease 1s;

    @media screen and (max-width: 768px) {
      border-radius: 25% 10% 0% 0%; /* Asymmetrical organic feel */
    }
  }
}
footer {
  padding-left: 2em;
  padding-right: 2em;
  margin-top: auto;
}
section {
  margin: 0 auto;
  width: 100%;
  padding: 2em;
  
  @media screen and (max-width: 768px) {
    padding: 2em 1.25em;
  }
}
// section > div {
//   max-width: 1400px;
//   margin: 0 auto;
// }
nav {
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
.nav-content {
  padding-left: 2em;
  padding-right: 2em;
}

nav.desktop {
  height: 90px;
  -webkit-clip-path: url(#navCurve);
  clip-path: url(#navCurve);
}

nav.mobile {
  position: fixed;
  top: 0;
  left: 0;
}

button.menu, button.close {
  position: absolute;
  top: 1em;
  right: 1em;

}

.menu {
  border-radius: 30%;
  padding: 1em;
  transition: all ease .2s;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .8em;
  
  &:hover {
    border-color: $secondary !important;
    color: $secondary !important;
  }
}

.close {
  border: solid 1px $off-white;
  border-radius: 30%;
  padding: 1em;
}

.menu-panel {
  background-color: $red;
  color: $off-white;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 50vh;
  padding: 4em 2em;
  transition: top ease 300ms;
  overflow: visible;

  ul {
    margin-top: 3em;
    gap: .5em;
  }

  li {
    font-size: 1.7em;
    padding-bottom: 1em;
  }

  &::before {
    content: "";
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0% 0% 20% 15%;
    transform: rotate(2deg) scaleX(1.5) scaleY(1);/* A slight rotation for an organic appearance */    transition: all ease 1s;
  }
}

hr {
  border-top: solid 1px $red;
}

.btn {
  background-color: $red;
  color: $off-white;
  border-radius: 20px;
  padding: 0.75em 1.5em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all .4s ease;

  &:hover {
    background-color: $secondary;
    transition: all .4s ease;
    color: $red;
  }
}

.question {
  font-family: $headings;
  font-size: 2em;
  max-width: 85%;
  line-height: 1.2em;
}

.icon-plus {
  font-size: 1.4em;
  font-weight: 100;
  font-family: sans-serif;
}

.faq-entry {
  cursor: pointer;
}

.contact-form {
  input[type=text], textarea {
    background: $beige;
    border-bottom: solid 1px $off-white;
    color: $red;
    padding: 1.5em;
    border-radius: 1em;
  }
  input::placeholder, textarea::placeholder {
    color: $red;
    opacity: 0.5;
  }
  input[type=submit] {
    background-color: $red;
    color: $off-white;
  }
}

section#contact {
  margin-top: 7em;

  @media screen and (max-width: 768px) {
    margin-top: 2em;
  }
}