@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@import '@styles/variables.scss';
@import '@styles/beziers.scss';
@import '@styles/homepage.scss';
@import '@styles/work-with-me.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: $red;
  background: $off-white;
  // font-family: var(--font-ibm);
}
footer {
  background-color: $red;
  color: $off-white;
}
nav, footer, .section {
  padding-left: 2em;
  padding-right: 2em;
}
section > div {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  line-height: 1em;
  position: fixed;
  width: 100vw;
  height: 90px;
  background: $red;
  -webkit-clip-path: url(#navCurve);
  clip-path: url(#navCurve);
  z-index: 1000;
}
.border {
  border: solid 1px $red;
}
h1 {
  font-size: 3em;
  line-height: 1.1em;
  font-family: $gt;

  @media screen and (max-width: 768px) {
    font-size: 2.5em;
    line-height: 1.2em;
  }
}
h2 {
  font-size: 2em;
  font-family: $gt;
  line-height: 1em;
}
hr {
  border-top: solid 1px $red;
}
.section-padding {
  padding: 6em 2em;

  @media screen and (max-width: 768px) {
    padding: 6em 2em;
  }
}
.btn {
  background-color: $red;
  color: $off-white;
  border-radius: 20px;
  padding: 0.75em 1.5em;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.quote {
 font-size: 2em;
 font-family: $gt;
 max-width: 800px;
 line-height: 1.2em;
 font-style: italic;
 margin: 0 auto;
}
.offerings {
  overflow: hidden;
}
.offering {
  background-color: $beige;
  padding: 3em;
  border-radius: 50px;
}
.offerings-title {
  font-size: 2.5em;
}
.offering-duration {
  font-size: 1.1em;
  font-style: italic;
  text-transform: lowercase;
}
.gt {
  font-family: $gt;
}
.question {
  font-family: $gt;
  font-size: 2em;
  max-width: 85%;
  line-height: 1.2em;
}
.icon-plus {
  font-size: 1.4em;
  font-weight: 100;
  font-family: sans-serif;
}
.faq-entry {
  cursor: pointer;
}
.contact-form {
  input[type=text], textarea {
    background: $red;
    border-bottom: solid 1px $off-white;
    color: $off-white;
    // background: $off-white;
  }
  input::placeholder, textarea::placeholder {
    color: $off-white;
    opacity: 0.7;
  }
  input[type=submit] {
    background-color: $off-white;
    color: $red
  }
}