main#home {
  margin-bottom: -6em;
}

.home-banner {
  min-height: 80vh;

  @media screen and (max-width: 768px) {
    margin-top: 100px;

    & > div:first-child {
        margin-top: 5em;
    }
  }
}

.home-banner-intro {
  @media screen and (max-width: 768px) {
    padding-top: 2em !important;
  }

  & div {
    max-width: 700px;
  
    @media screen and (max-width: 768px) {
      max-width: 470px;
      margin: 0 auto;
    }
  }

  // h1 {
  //   font-size: 5em;
  //   line-height: 0.95em;
  // }
}


.container-bg2 {
  max-height: 300px;
  overflow: hidden;
  transform: scale(1.5);
  z-index: -100;
  position: relative;
}

.headshot-desktop {
  width: 80%;
  max-width: 400px;
  // &::before {
  //   content: "";
  //   background-color: $beige;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 30px;
  //   bottom: 0;
  //   z-index: -10;
  //   width: 50%;
  //   border-radius: 30% 50% 0% 0%; /* Asymmetrical organic feel */
  //   transform: rotate(-3deg) scaleX(150%) scaleY(110%);/* A slight rotation for an organic appearance */
  //   transition: all ease 1s;
  // }
  @media screen and (max-width: 768px) {
      width: 200px;
      // overflow: hidden;
  }
}

.container-headshot {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container-headshot {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
}

.section-quote {
  position: relative;
  &::before {
    content: "";
    background-color: $beige;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -0px;
    z-index: -1;
    border-radius: 40% 20% 43% 0%;
    transform: rotate(3deg) scaleX(1.5) scaleY(1.3);/* A slight rotation for an organic appearance */
    transition: all ease 1s;
  }
}

.quote {
  font-size: 4em;
  font-family: $headings;
  max-width: 800px;
  line-height: .95em;
  margin: 0 auto;
 
   @media screen and (max-width: 768px) {
     font-size: 1.5em;
   }
 }

.hp-bg2 {
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  left: 60% !important;
  top: -30px;
  transform: rotate(-3deg) scale(1.5, 1.1) translateY(62px);
  
  @media screen and (max-width: 768px) {
    right: 0;
    left: unset !important;
  }
}

.testimonials {
  position: relative;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  &::before {
    content: "";
    background-color: $beige;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 30% 20% 20% 15%; /* Asymmetrical organic feel */
    transform: rotate(3deg) scaleX(1.4) scaleY(1.3);/* A slight rotation for an organic appearance */    transition: all ease 1s;
  }
}

.testimonial-card {
  min-width: 300px;
}
