
.container-bg2 {
  max-height: 300px;
  overflow: hidden;
}

.container-headshot {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container-headshot {
    width: 200px;
    height: 200px;
    overflow: hidden;
  }
}

.hp-bg2 {
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  left: 50%;
  top: -30;
  
  @media screen and (max-width: 768px) {
    right: 0;
    left: unset !important;
  }
}

.testimonials::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  min-width: 300px;
}
