$off-white: #E9E2D0;
$beige: #DFD5C0;
$red: #C8523C;
$secondary: rgb(166, 193, 255);
// $secondary: #8B3727;

$body: var(--font-gt-cinetype), sans-serif;
$headings: var(--font-reckless), serif;

:export {
  offWhite: $off-white;
  red: $red;
}