.wwm-bg-image {
  top: 0;
}

main#offerings {
  margin-bottom: -6em;
}

section.faq {
  position: relative;
  z-index: 10;
  overflow-y: hidden;

  & > div {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
  }
  
  &::before {
    content: "";
    background-color: $beige;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 30% 50% 0% 0%; /* Asymmetrical organic feel */
    transform: rotate(-3deg) scale(1.5, 1.1);/* A slight rotation for an organic appearance */
    transition: all ease 1s;

    @media screen and (max-width: 768px) {
      border-radius: 10% 25% 0% 0%; /* Asymmetrical organic feel */
      top: 50px;
      transform: rotate(-3deg) scaleX(1.3) scaleY(1.1);
    }
  }

  .question {
    @media screen and (max-width: 768px) {
      font-size: 1.75em;
    }
  }
}

.faq-answer {
  max-width: 800px;
}

.wwm-bg-1 {
  width: auto;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: -100;
  opacity: 0.8;
}

.offerings {
  overflow: hidden;
}

.offering {
  background-color: $beige;
  padding: 3em;
  border-radius: 50px;
  
  @media screen and (max-width: 1440px) {
    max-width: 95%;
  }

  @media screen and (max-width: 768px) {
    padding: 2em;
  }
}

.offerings-title {
  font-size: 2.5em;
  
  @media screen and (max-width: 768px) {
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
  }
}

.offering-duration {
  font-size: 1.1em;
  font-style: italic;
  text-transform: lowercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}